.rouge table td { padding: 5px; }
.rouge table pre { margin: 0; }
.rouge, .rouge .w {
  color: #24292f;
  background-color: #f6f8fa;
}
.rouge .k, .rouge .kd, .rouge .kn, .rouge .kp, .rouge .kr, .rouge .kt, .rouge .kv {
  color: #cf222e;
}
.rouge .gr {
  color: #f6f8fa;
}
.rouge .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.rouge .nb {
  color: #953800;
}
.rouge .nc {
  color: #953800;
}
.rouge .no {
  color: #953800;
}
.rouge .nn {
  color: #953800;
}
.rouge .sr {
  color: #116329;
}
.rouge .na {
  color: #116329;
}
.rouge .nt {
  color: #116329;
}
.rouge .gi {
  color: #116329;
  background-color: #dafbe1;
}
.rouge .kc {
  color: #0550ae;
}
.rouge .l, .rouge .ld, .rouge .m, .rouge .mb, .rouge .mf, .rouge .mh, .rouge .mi, .rouge .il, .rouge .mo, .rouge .mx {
  color: #0550ae;
}
.rouge .sb {
  color: #0550ae;
}
.rouge .bp {
  color: #0550ae;
}
.rouge .ne {
  color: #0550ae;
}
.rouge .nl {
  color: #0550ae;
}
.rouge .py {
  color: #0550ae;
}
.rouge .nv, .rouge .vc, .rouge .vg, .rouge .vi, .rouge .vm {
  color: #0550ae;
}
.rouge .o, .rouge .ow {
  color: #0550ae;
}
.rouge .gh {
  color: #0550ae;
  font-weight: bold;
}
.rouge .gu {
  color: #0550ae;
  font-weight: bold;
}
.rouge .s, .rouge .sa, .rouge .sc, .rouge .dl, .rouge .sd, .rouge .s2, .rouge .se, .rouge .sh, .rouge .sx, .rouge .s1, .rouge .ss {
  color: #0a3069;
}
.rouge .nd {
  color: #8250df;
}
.rouge .nf, .rouge .fm {
  color: #8250df;
}
.rouge .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.rouge .c, .rouge .ch, .rouge .cd, .rouge .cm, .rouge .cp, .rouge .cpf, .rouge .c1, .rouge .cs {
  color: #6e7781;
}
.rouge .gl {
  color: #6e7781;
}
.rouge .gt {
  color: #6e7781;
}
.rouge .ni {
  color: #24292f;
}
.rouge .si {
  color: #24292f;
}
.rouge .ge {
  color: #24292f;
  font-style: italic;
}
.rouge .gs {
  color: #24292f;
  font-weight: bold;
}
@media (prefers-color-scheme: dark) {
.rouge table td { padding: 5px; }
.rouge table pre { margin: 0; }
.rouge, .rouge .w {
  color: #c9d1d9;
  background-color: #161b22;
}
.rouge .k, .rouge .kd, .rouge .kn, .rouge .kp, .rouge .kr, .rouge .kt, .rouge .kv {
  color: #ff7b72;
}
.rouge .gr {
  color: #f0f6fc;
}
.rouge .gd {
  color: #ffdcd7;
  background-color: #67060c;
}
.rouge .nb {
  color: #ffa657;
}
.rouge .nc {
  color: #ffa657;
}
.rouge .no {
  color: #ffa657;
}
.rouge .nn {
  color: #ffa657;
}
.rouge .sr {
  color: #7ee787;
}
.rouge .na {
  color: #7ee787;
}
.rouge .nt {
  color: #7ee787;
}
.rouge .gi {
  color: #aff5b4;
  background-color: #033a16;
}
.rouge .kc {
  color: #79c0ff;
}
.rouge .l, .rouge .ld, .rouge .m, .rouge .mb, .rouge .mf, .rouge .mh, .rouge .mi, .rouge .il, .rouge .mo, .rouge .mx {
  color: #79c0ff;
}
.rouge .sb {
  color: #79c0ff;
}
.rouge .bp {
  color: #79c0ff;
}
.rouge .ne {
  color: #79c0ff;
}
.rouge .nl {
  color: #79c0ff;
}
.rouge .py {
  color: #79c0ff;
}
.rouge .nv, .rouge .vc, .rouge .vg, .rouge .vi, .rouge .vm {
  color: #79c0ff;
}
.rouge .o, .rouge .ow {
  color: #79c0ff;
}
.rouge .gh {
  color: #1f6feb;
  font-weight: bold;
}
.rouge .gu {
  color: #1f6feb;
  font-weight: bold;
}
.rouge .s, .rouge .sa, .rouge .sc, .rouge .dl, .rouge .sd, .rouge .s2, .rouge .se, .rouge .sh, .rouge .sx, .rouge .s1, .rouge .ss {
  color: #a5d6ff;
}
.rouge .nd {
  color: #d2a8ff;
}
.rouge .nf, .rouge .fm {
  color: #d2a8ff;
}
.rouge .err {
  color: #f0f6fc;
  background-color: #8e1519;
}
.rouge .c, .rouge .ch, .rouge .cd, .rouge .cm, .rouge .cp, .rouge .cpf, .rouge .c1, .rouge .cs {
  color: #8b949e;
}
.rouge .gl {
  color: #8b949e;
}
.rouge .gt {
  color: #8b949e;
}
.rouge .ni {
  color: #c9d1d9;
}
.rouge .si {
  color: #c9d1d9;
}
.rouge .ge {
  color: #c9d1d9;
  font-style: italic;
}
.rouge .gs {
  color: #c9d1d9;
  font-weight: bold;
}
}
